@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body{
    background: #070707;
    padding: 2%;
}

.style-global-section{
    width: 100%;
    height: 100dvh;
}

/* --- Home Section --- */

#nav-home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-home #logo-home{
    width: 100px;
    height: auto;
    cursor: pointer;
}


.cont-title-img-home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-txt-home{
    width: 50%;
    height: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cont-txt-home h1{
    font-size: 40px;
    text-align: start;
    margin-bottom: 30px;
}

.cont-txt-home p{

    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: start;
    margin-bottom: 20px;
}

.cont-img-home{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont-img-home img{
    width: 70%;
    height: auto;
}

/* --- HOME END --- */

/*--- OBJETIVE SECTION --- */

.cont-objetive{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cont-objetive .cont-title-img-objetive{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.span-title-objetive{
    color: #6EBEE4;
}

.cont-title-img-objetive h2{
    font-size: 40px;
    margin-bottom: 5%;
    text-transform: uppercase;
    text-align: center;
}

.cont-title-img-objetive img{
    width: 60%;
    height: auto;
}

.cont-img-objetive{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cont-img-objetive img{
    width: 100%;
    height: auto;
    margin-bottom: 12%;
}

.cont-img-objetive p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: start;
}


/* ---OBJETIVE END --- */
/* ---CONTACT SECTION --- */

.cont-form-img-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2%;
}

.cont-contact{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;;
}

.cont-contact h2{
    font-size: 40px;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.cont-contact p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 10%;
}

.cont-contact form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont-contact form input, .cont-contact form input::placeholder ,.cont-contact form textarea, .cont-contact form textarea::placeholder{
    width: 100%;
    background-color: #B0B0B0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
}

.cont-contact form button{
    background-color: transparent;
    width: 30%;
}

.cont-img-contact{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-img-contact img{
    width: 70%;
    height: auto;
}

/* --- CONTACT END --- */
/* --- FOOTER --- */

.footer-section{
    width: 100%;
    height: auto;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cont-logo-redes-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cont-logo-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

.cont-logo-txt object{
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.cont-redes-footer{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.icon-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}


/* --- MEDIA QUERIES --- */

@media (max-width: 768px){    
    .style-global-section{
        height: auto;
    }

    #nav-home #logo-home{
        width: 100px;
    }    

    .cont-title-img-home{
        flex-direction: column;
    }

    .cont-txt-home{
        width: 100%;
    }
    
    .cont-txt-home h1{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cont-txt-home p{
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .cont-img-home{
        width: 100%;
        margin-bottom: 10%;
    }

    /* --- OBJETIVE --- */

    
    .cont-objetive{
        width: 100%;
        flex-direction: column;
        height: auto;
        gap: 5%;
        padding: 5% 0;
    }

    .cont-objetive .cont-title-img-objetive{
        width: 100%;
        height: auto;
        margin-bottom: 10%;
    }

    .cont-title-img-objetive h2{
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cont-img-objetive{
        width: 60%;
        height: auto;
    }

    .cont-img-objetive p{
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
        padding: 0 10px;
    }


    /* --- CONTACT --- */

    .cont-form-img-section{
        flex-direction: column;
        height: auto;
        gap: 5%;
        padding: 5% 2%;
    }

    .cont-contact{
        width: 100%;
        text-align: center;
        align-items: center;
        margin-bottom: 10%;
    }

    .cont-contact h2{
        font-size: 30px;
        margin-bottom: 5%;
        text-align: center;
    }

    .cont-contact p{
        font-size: 16px;
        margin-bottom: 10%;
        text-align: center;
    }

    .cont-img-contact img{
        width: 100%;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }


    /* ---footer --- */

    .cont-logo-redes-footer{
        width: 100%;
        flex-direction: column;
    }

    .cont-logo-txt{
        width: 100%;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .cont-logo-txt object{
        width: 100px;
        margin-bottom: 10px;
    }

    .cont-redes-footer{
        width: 100%;
        align-items: center;
        text-align: center;
        margin-bottom: 20%;
    }
    .icon-footer{
        font-size: 15px;
    }
}   
